/* @title Lake */
[F_CODE = 'BH082'] [@sd < 200k] {
	fill: #B0E1ED;
  	stroke: #00A0C6;
  	stroke-width: 10m;
  	z-index: 0;
}

/* @title Dam (No Transportation)*/
[F_CODE = 'BI020'] [@sd < 500k] {
	stroke: #000000;
  	stroke-width: 20m;
  	z-index: 1;
}

/* @title Dam*/
[F_CODE = 'BI020'] [@sd < 500k] {
  	fill-geometry: [centroid(the_geom)];
  	mark: url('file://symbols/PT_Black_Dam.svg');
  	mark-mime: 'image/svg';
  	mark-size: 10m;
}